* {
  --primary: rgba(17, 17, 87, 0.877);
  --secondary: rgba(3, 142, 170, 0.842);
}

header {
  text-align: center;
  background: rgb(17, 17, 87);
  background: linear-gradient(90deg, rgba(17, 17, 87, 1) 0%, rgba(3, 51, 80, 0.76) 32%, rgba(151, 201, 224, 0.801) 60%);
  padding: 50px;
  font-size: 50px;
  opacity: .7;
  color: white;
  

}




.weatherBtn {
  border-radius: 12px;
  background-color: var(--secondary);
  color: white;
}

.userEl {
  margin-bottom: 10px;
}

.userInput {
  margin-top: 50px;
  margin-bottom: 20px;
}

.previousSearch {
  color: white;
  border-radius: 5px;
  background-color: var(--secondary);
  margin-top: 20px;
  padding: 10px;
}


.currentWeather {
  border: 1px solid black;
  font-weight: bold;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  line-height: 40px;

}


.very-high {
  background-color: red;
  padding: 2px;
  border-radius: 2px;
}

.high {
  background-color: orange;
  padding: 2px;
  border-radius: 2px;
}

.moderate {
  background-color: yellow;
  padding: 2px;
  border-radius: 2px;
}

.low {
  background-color: green;
  padding: 2px;
  border-radius: 2px;
}

.forecast {
  text-align: center;
  color: white;
}

.dayOne {
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--primary);
}

.dayTwo {
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--primary)
}

.dayThree {
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--primary)
}

.dayFour {
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--primary)
}

.dayFive {
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--primary)
}

body {
  background-image: url("https://wallpapersmug.com/download/1280x1024/2e0a0c/clouds-and-sunset-sea-of-clouds.jpg");
  background-size: cover
}

